POSTGRES_DB="db-name"
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"

DATABASE_URL="postgres://user:password@localhost:5432/postgres?sslmode=disable"

BETTER_AUTH_SECRET="secert-key"
BETTER_AUTH_URL="http://localhost:3000"
